In [1]:
#tuples

In [2]:
#to dinote tuple using "()"
#tuples are immutable
#it is not re assign value to tuple

In [18]:
mytuple =(1,2,3,4,5,6,6,2,[1,2,3])

In [19]:
type(mytuple)

tuple

In [20]:
len(mytuple)

9

In [21]:
mytuple.index([1,2,3])

8

In [22]:
mytuple.count(2)

2

In [23]:
mytuple.count(5)

1

In [24]:
mytuple.index(6)

5

In [26]:
mytuple.index(6)

5

In [27]:
#how to define tuple

In [28]:
mytuple = (2)

In [29]:
type(mytuple)

int

In [30]:
my_touple = (2,)

In [31]:
type(my_touple)

tuple

In [32]:
#package an unpackage

In [33]:
my_second_touple = 3,4,5,6,6,6,6,6,6

In [38]:
len(my_second_touple)

9

In [34]:
type(my_second_touple)

tuple

In [36]:
a,b,c,d,e,f,g,h,i = my_second_touple

In [37]:
a

3

In [39]:
f

6

In [40]:
# we can slice tuplemy_second_touple

In [42]:
my_second_touple

(3, 4, 5, 6, 6, 6, 6, 6, 6)

In [41]:
my_second_touple[1:4]

(4, 5, 6)

In [43]:
#dictionary
# to dinote dic use flower bracket

In [44]:
mydictionary = {}

In [45]:
type (mydictionary)

dict

In [46]:
mydictionary = {'name':"subbu",'number':'102'}

In [48]:
set = {1,4,4,4,5}

In [47]:
mydictionary

{'name': 'subbu', 'number': '102'}

In [49]:
mydictionary = {'name':"subbu",'name':'102'}

In [50]:
mydictionary

{'name': '102'}

In [61]:
bat22dic = {'no':'20'}

In [64]:
myval = bat22dic['no']

In [56]:
#dict inside dict not allowed

In [65]:
myval2 = int(myval)

In [66]:
myval2

20

In [67]:
mydictionary = {'name':"subbu",'name':'102','language':'english'}

In [68]:
mydictionary.keys()

dict_keys(['name', 'language'])

In [69]:
mydictionary.values()

dict_values(['102', 'english'])

In [70]:
mydictionary['myval'] = 'Chandra'

In [71]:
mydictionary

{'name': '102', 'language': 'english', 'myval': 'Chandra'}